.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--bg-color);
}
.navbar .nav-links {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}
.navbar .nav-links li {
  cursor: pointer;
}
.navbar .nav-links li a {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
}
.hamburger-icon {
  display: none;
}
@media (max-width: 590px) {
  .hamburger-icon {
    display: block;
    height: 30px;
    width: 30px;
    overflow: hidden;
    z-index: 102;
    transition: 0.6s ease;
  }
  .hamburger-icon img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .navbar .nav-links {
    display: inline-block;
    position: fixed;
    height: 100vh;
    width: 50vw;
    top: 0;
    right: -100%;
    background-color: var(--bg-color);
    z-index: 100;
    padding: 30px 0 0 30px;
    transition: right 0.6s ease;
  }
  .navbar .nav-links.active {
    right: -10px;
  }
  .navbar .nav-links li {
    margin: 20px 0;
    width: fit-content;
  }
  .navbar .nav-links li a {
    color: var(--primary-color);
    font-weight: 600;
  }
}
