:root {
  --primary-color: #2d3436;
  --accent-color: #780000;
  --bg-color: #ffffff;
  --text-color: #636e72;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}
